{% extends 'presentation-base.html' %}
{% load i18n %}

{% block title %}Evolving towards a Consortium MARCR Datastore in a Hybrid-Cloud{% endblock %}

{% block main-content %}
<div class="jumbotron">
 <h1>Evolving towards a Consortium MARCR Datastore in a Hybrid-Cloud</h1>
 <p class="lead">
   Colorado College is collaborating closely with the Colorado Alliance of 
   Research Libraries on a multi-year project for a "union catalog" representing
   all of the Works in the Alliance's member institution while offering real-time
   metrics for the resource sharing of the member institution's Instances.
 </p> 
</div>
{% endblock %}

{% block support-content %}
<div class="row-fluid marketing">
 <div class="span4">
  <h3>Task Level</h3>
  <ul>
   <li>Professional</li>
   <li>Technical</li>
   <li>Clerical</li>
   <li>Support</li>
  </ul>
 </div>
 <div class="span4">
  <h3>Managerial Level</h3>
  <ul>
   <li>Communicate</li>
   <li>Coordinate</li>
   <li>Translate</li>
  </ul>
 </div>
 <div class="span4">
  <h3>Leadership Level</h3>
  <ul>
    <li>Vision</li>
	<li>Risk</li>
	<li>Influence</li>
  </ul>
 </div>
</div>
{% endblock %}

{% block next-slide %}
 <a class="btn btn-large btn-success" href="#">Questions?</a>
{% endblock %}
