{% extends 'presentation-base.html' %}
{% load i18n %}

{% block title %}Evolving towards a Consortium MARCR Datastore in a Hybrid-Cloud{% endblock %}

{% block main-content %}
<div class="jumbotron">
 <h1>Evolving towards a Consortium MARCR Datastore in a Hybrid-Cloud</h1>
 <p class="lead">
   Colorado College is collaborating closely with the Colorado Alliance of 
   Research Libraries on a multi-year project for a "union catalog" representing
   all of the Works in the Alliance's member institution while offering real-time
   metrics for the resource sharing of the member institution's Instances.
 </p> 
</div>
{% endblock %}

{% block support-content %}
<div class="row-fluid marketing">
 <div class="span6">
  <div class="alert alert-block alert-success">
   <h2>Local control that leverages the consortium's cloud</h2>
   <p>
    The Library consortium cloud treats each institution's MARC Instance, 
	Annotation, and Authority Redis datastores as read-only. These individual
	Redis datastores are combined into a single read-only Redis search environment support by 
	the consortium's master MARCR datastores. 
   </p>
  </div>
  <p>
    <h2>Task Level Advantages</h2>
	<ul>
	 <li>Bibliographic record workflow apps can easily be created for common tasks</li>
	 <li>Cataloging staff can focus on original cataloging and easily use the consortium's Work entities
	     while describing the unique attributes of the library's instances.</li>
	</ul>
   </p>
  <p>
    <h2>Managerial Level Advantages</h2>
	<ul>
	 <li>MARCR Datastore makes operational reporting much easier, can track activity of an 
	     institution's Instances in real-time or historical usage patterns.</li>
	 <li>New task-specific workflows that are good candidates for automation or for single-use
	     specialized app can be developed with short delivery times ranging from weeks to months</li>
	 
	</ul>
  </p>
 </div>
 <div class="span6">
  <h2>Visualization</h2>
  <img src="{{ STATIC_URL }}img/consortium-marcr-ds-apps.png" />
  <p>
   <h2>Leadership Level Advantages</h2>
   <ul>
    <li>Reduce dependencies on expensive and complex commercial systems</li>
	<li>Flexibility of the MARCR metadata Datastore offers new opportunities for library services in
     	big data curation,
	    digital humanities, and distance educational efforts such as 
		Massive Open Online Courses (MOOC).</li>
   </ul>
  </p>
 </div>
</div>
{% endblock %}

{% block next-slide %}
{% endblock %}
