{% extends 'presentation-base.html' %}
{% load i18n %}

{% block title %} Addendum -- Glossary{% endblock %}

{% block main-content %}
<div class="hero-unit">
 <h2>Addendum</h2>
 <h1>Glossary</h1>
 <p class="lead">
  Glossary of terms, concepts, and acronyms used in this presentation.
 </p> 
</div>
{% endblock %}

{% block support-content %}
<div class="row-fluid marketing">
 <div class="span5 well">
  <h3>A through M</h3>
  <dl class="dl-horizontal">
   <dt><a name="AACR2"></a>AACR2</a></dt>
   <dd>
    An acronym for <a href="http://www.aacr2.org">Anglo-American Cataloging Rules</a> the 
    current bibliographic cataloging practices used by most libraries in some form or another
    for cataloging material into the <a href="#MARC21">MARC21</a> bibliographic data format. 
   </dd>
   <dt><a name="ALA"></a>ALA</dt>
   <dd>
    The <a href="http://www.ala.org">American Library Association</a> is the largest library
    professional organization that is actively involved in most areas of library operations.
   </dd>
   <dt><a name="Django"></a>Django</dt>
   <dd>
    <a href="#">Django</a> is an a <a href="#Python">Python</a>-based web framework that is used
    in the <a href="#">Aristotle Library Apps</a> project.
   </dd>
   <dt><a name="FRBR"></a>FRBR</dt>
   <dd> 
    <a href="http://www.ifla.org/publications/functional-requirements-for-bibliographic-records">Functional Requirements for Bibliographic Records</a> is an Entity-Relationship model for bibliographic records that was first released in 1998 by an 
    <a href="#IFLA">IFLA</a> study group. FRBR is composed of four main entities; Work, Expression, Manifestation, and Item also
     known as <a href="#WEMI">WEMI</a> along with various other entities to support creator, publisher, and subject authority
     relationships with the core WEMI entities. 
   <dt><a name="HTML5"></a>HTML5</dt>
   <dd>
    HTML5 is the latest HTML specification from W3C and offers a lot
   </dd>
   <dt><a name="IFLA"></a>IFLA</dt>
   <dd>
    An acronym for 
    <a href="http://www.ifla.org/">International Federation of Library Associations and Institutions</a> an international
    professional organization.
   </dd>
   <dt><a name="LinkedData"></a>Linked Data</dt>
   <dd>
    Linked Data is an international effort by multiple user communities to build a semantic web for representing relationships
    between entities and objects on the internet.
   </dd>
   <dt><a name="MARC21"></a>MARC21</a></dt>
   <dd>
    An acronym for Machine Readable Cataloging record, MARC21 is the most widely used data-carrier format and specification 
    used by libraries today. 
   </dd>
   <dt><a name="MARCR"></a>MARCR</dt>
   <dd>
    MARCR...
   </dd>
  </dl>
 </div>
 <div class="span5 well">
  <h3>N through Z</h3>
  <dl class="dl-horizontal">
   <dt><a name="NoSQL"></a>NoSQL</dt>
   <dd>
     NoSQL, or ...
   </dd>
   <dt><a name="Python"></a>Python</dt>
   <dd>
    <a href="http://www.python.org/">Python</a> is a popular open-source programming language that used in 
    the <a href="#">Aristotle Library Apps</a> and <a href="#">MARCR Datastore</a> project. 
   </dd>
   <dt><a name="RDA"></a>RDA</a></dt>
   <dd>
    An acronym for Resource Discovery and Access, RDA is joint effort between <a href="#ALA">ALA</a> and the 
    the Library of Congress...
   </dd>
   <dt><a name="Redis"></a>Redis</dt>
   <dd>
    <a href="http://redis.io">Redis</a> is an in-memory advanced key-value datastore that is considered
    a <a href="#NoSQL">NoSQL</a> technology. Redis is used extensively by large commerical websites and
    is the primary storage technology used in the <a href="#">MARCR Datastore</a> project.
   </dd>
   <dt><a name="WEMI"></a>WEMI</dt>
   <dd>
    An acronym for <a href="#FRBR">FRBR</a>'s Work, Expression, Manifestation, and Item entities.
   </dd>
  </dl>

 </div>
</div>
{% endblock %}
