{% extends 'presentation-base.html' %}
{% load i18n %}

{% block title %}The Lean Start-up{% endblock %}

{% block main-content %}
<div class="jumbotron">
 <h1>The Lean Start-up</h1>
 <p class="lead">While Silicon Valley is justifiably famous for its start-up and
 entrepreneurial culture, Libraries can improve their technology and services by 
 adopting many of these principles in their own organizational structures and
 practices.</p>
</div>
{% endblock %}

{% block support-content %}
<div class="row-fluid marketing">
 <div class="span6">
  <div class="well">
   <ol style="font-family: Times New Roman;font-size:1.75em">
    <li>Learn often, fail fast and get out of the building!</li>
    <li>Fake it before you make it</li>
    <li>Start small then scale up</li>
    <li>Keep iterating.</li>
    <li>Don't lose sight of the vision</li>
    <li><a href="{% url techbytes.views.glossary %}#MVP">MVP</a>: minimum awesome not awful</li>
    <li>The web is your lab, keep testing and measuring</li>
   </ol>
   From slide 37 of Laurence McCahill's 
  <a href="http://www.slideshare.net/spookstudio/what-the-fk-is-lean-startup-and-why-should-i-care">What the f**k is lean startup and why should I care?</a>
  </div>
  {% comment %}
  <a class="btn btn-inverse btn-large"  
     href="#ries-four-principles-dlg" data-toggle="modal">
	 <img src="http://theleanstartup.com/images/eric_ries.png" style="float:left;width:60px;height:95px" />
	 <span style="font-size: 1.5em;">Eric Ries's Five Principles of Lean Start-ups</span>
	 
  </a>
 {% endcomment %}
 </div> 
 <div class="span4">
   <p>
    <a href="#agile-software-dev-dlg"
      class="btn btn-large btn-inverse"
	  data-toggle="modal">
	  AGILE Software Development
    </a>
   </p>
   <p>
   <a href="#where-lib-startups-dlg" 
      class="btn btn-warning btn-large"
      data-toggle="modal">
     Where are the library start-ups?
   </a>
   </p>
   
 </div>
</div>
<div class="row-fluid marketing">
 <div class="span12">
  <h3>What about DevOps?</h3>
  <p class="lead">
    <a href="{% url techbytes.views.glossary %}#DevOps">DevOps</a>, an 
    amalgamation of Development and Operations, is a new management model for 
    Information Technology department in non-technological organizations.
    DevOps comes out of the growing recognition that the intellectual 
    resources, digital assets, and work-flows of an organization are
    complex combinations of commercial, open source, and internally 
    developed custom code.
  </p>
 </div>
</div>
{% endblock %}

{% block next-slide %}
 <a class="btn btn-large btn-success" href="/techbytes/frbr-rda-marcr.html" >FRBR, RDA, &amp; Redis MARCR Datastore &raquo;</a>
{% endblock %}

{% block dialogs %}
{% comment %}
<div id="ries-four-principles-dlg" class="modal fade">
 <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <img src="http://theleanstartup.com/images/eric_ries.png" class="img-polaroid" style="float:right;width:75px;height:120px" />
  <h2>Eric Ries's Five Principles of Lean Start-ups</h2>
  <p class="lead">As Applied To Libraries and Technology</p>
 </div>
 <div class="modal-body">
 <div class="accordion" id="eric-ries-lean-startup-accordion">
    <div class="accordion-group">
	  <div class="accordion-heading">
		<a href="#entrepreneurs-everywhere"
		   class="btn accordion-toggle" 
		   data-toggle="collapse"
		   data-parent="#eric-ries-lean-startup-accordion"><h3>Entrepreneurs are Everywhere</h3></a>
	  </div>
	  <div id="entrepreneurs-everywhere" class="accordion-body collapse in">
	   <p>
		As library leaders, look for entrepreneurial or creative ideas from the task
		and managerial levels in the library. 
	   </p>
	   <p>
	    As library managers, look for technologies and services that can either enhance
		patron services, improve staff task productivity, or assist in assessment or 
		measurement activities within the next 24 months.
	   </p>
	   <p>
	   
	   </p>
	  </div> 
	</div>
    <div class="accordion-group">
	  <div class="accordion-heading">
	   <a href="#entrepreneurship-management"
	      class="btn accordion-toggle" 
		  data-toggle="collapse"
		  data-parent="#eric-ries-lean-startup-accordion"><h3>Entrepreneurship is Management</h3></a>
	  </div>
	  <div id="entrepreneurship-management" class="accordion-body collapse">
	    <p>
		 Managing people in a fast-changing environment with uncertain resource and 
		 time constraints can frustrate the reference, circulation, and library systems
		 staff who are responsible for the providing patron technology-oriented services.
		</p>
		<p>
		 Librarian leadership can sometimes, as Pat Wagner warns, become
		</p>
		<p class="alert alert-error lead"><strong>"Out of touch with reality and people."</strong></p>
        <p>
         By encouraging the managers in the library to run their 		
		</p>
	  </div>
	</div>
	<div class="accordion-group">
	 <div class="accordion-heading">
	  <a href="#validated-learning"
	     class="btn accordion-toggle" 
		 data-toggle="collapse"
		 data-parent="#eric-ries-lean-startup-accordion"><h3>Validated Learning</h3></a>
	 </div>
     <div id="validated-learning" class="accordion-body collapse">
	  <p>
	   How can we manage the main tasks involved in such services provided by library instruction,
	   meta-data cataloging of born-digital objects, and circulation?
	  </p>
	 </div>
	</div>
	<div class="accordion-group">
	 <div class="accordion-heading">
	  <a href="#innovation-accounting"
	     class="btn accordion-toggle" 
		 data-toggle="collapse"
		 data-parent="#eric-ries-lean-startup-accordion"><h3>Innovation Accounting</h3></a>
	 </div>
     <div id="innovation-accounting" class="accordion-body collapse">
	  <p>
	   Assessment metrics flows from tasks, summarized by managers, for use by library
	   leadership in advocating for libraries to external bodies, be they an university,
	   a town council, or a legislative body. Technology should streamline this information
	   flow and the promise of big data is that real-time analytics can be generated, summarized,
	   and acted upon sooner in any organization. 
	  </p>
	 </div>	 
	</div>
	<div class="accordion-group">
	 <div class="accordion-heading">
	   <a href="#build-measure-learn"
	      class="btn accordion-toggle" 
		  data-toggle="collapse"
		  data-parent="#eric-ries-lean-startup-accordion"><h3>Build-Measure-Learn</h3></a>
	  </div>
	  <div id="build-measure-learn" class="accordion-body collapse">
	   <p>
	     How can technology be utilized by managers and tasks-oriented staff so the library
	     follows its leadership's vision for the library's future?
	   </p>
	  </div>
	 </div>
  </div>
 </div>
{% endcomment %}
 <div class="modal-footer">
  <a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
 </div>
</div>

<div class="modal fade" id="agile-software-dev-dlg">
 <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h2>AGILE Software Development Principles</h2>
 </div>
 <div class="modal-body">
  <p>
  The <a href="{% url techbytes.views.glossary %}"#AGILE">AGILE</a> model of software development 
  revolves around short, iterative cycles where requirements are generated from direct user interaction
  and software is developed and tested to meet those specific requirements. These principles can
  be used in more traditional IT departments in Libraries as software is customized to
  meet the needs of the library. Software systems is becoming more 
  modular and easier to build connecting services through open web APIs and open-source systems.
  </p>
 </div>
 <div class="modal-footer">
  <a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
 </div>
</div>

<div class="modal fade" id="where-lib-startups-dlg">
 <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h2>What is the start-up activity in Library Technology?</h2> 
 </div>
 <div class="modal-body">
  <a href="http://www.discoverygarden.com/"><img src="{{ STATIC_URL }}img/discovery-garden-logo.png" style="float:left" /></a>
  <a href="http://yourmediashelf.com/"><img src="{{ STATIC_URL }}img/mediashelf-logo.png" style="float:right" /></a>
  <p>
   In recent years there has been a consolidation of companies in the 
   traditional library bibliographic industry, start-up activity is 
   more active in the digital repository sub-market with such companies as
   DiscoveryGarden and MediaShelf. 
  </p>
  <p>
   Start-up activity in the Semantic Web is far greater with more opportunities
   for individuals with a library background or education.
  </p>

 </div>
 <div class="modal-footer">
  <a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
 </div>
</div>
{% endblock %}
