{% extends 'presentation-base.html' %}
{% load i18n %}
    {% block main-content %}
      <div class="jumbotron">
        <h1>The Library as a Lean Start-up</h1>
        <p class="lead">
		  Using <a href="/glossary.html#NoSQL">NoSQL</a>, 
          <a href="/glossary.html#MARCR">MARCR</a>, and 
          <a href="/glossary.html#HTML5">HTML5</a> Apps for managing a modern 
		  Bibliographic Datastore 
		</p>
        <a class="btn btn-large btn-success" href="/techbytes/org-map.html">Organizational Map &raquo;</a>
      </div>
     {% endblock %}
      <hr>
     {% block support-content %}
      <div class="row-fluid marketing">
        <div class="span6">
          <h4>Organizational Map</h4>
          <p>
		    Pat Wagner's Organizational Map is composed of three levels; Task, Managerial, and Leadership.
		    In this presentation, we'll show how the <a href="https://github.com/jermnelson/MARCR-Datastore">MARCR Datastore</a> along with the 
			<a href="https://github.com/jermnelson/aristotle-library-apps">Aristotle Library App</a> open source 
			projects actively address concerns and challenges faced by librarians and staff working at each of 
			these levels.
			<a href="/techbytes/org-map.html" class="btn btn-small">Learn More <i class="icon-chevron-right"></i></a>
		  </p>

          <h4>The Lean Start-up</h4>
          <p>Eric Ries, an entrepreneur and author, writes about <em>The Lean Start-up</em> philosophy that start-up 
		     companies can use to successful build and launch a new products and services. His four principles of 
			 a lean start-ups provide a "start-up" framework for library systems and operations that can transform 
			 the services and technology we offer our patrons and improve the library's relevancy in a community or
			 an organization.
			<a href="/techbytes/lean-startup.html" class="btn btn-small">Learn More </a> 
		  </p>
			 
		  <h4>FRBR, RDA, &amp; Redis MARCR Datastore</h4>
          <p>In our current library ILS, OPACS, and even next-generation of library services platforms being developed by
		     library vendors, offer minimal support for FRBR and RDA. RDA, an effort
             lead by the ALA and others, is based on FRBR and is intended to be the replacement of AACR2. There is much concern
			 about the added cost, lack of supporting technologies, and complexity for implementing RDA from the MARC21-based 
			 technologies being used and developed in libraries.</p>
		  <p>
            MARCR is the name given to a new proposal by the Library of Congress's Bibliographic Framework Initiative that
			borrows many concepts from both RDA and MARC21 to support a more of a Linked-Data approach to bibliographic 
			records. MARCR uses
		  </p>
		  <a href="/techbytes/frbr-rda-marcr.html" class="btn btn-small">Learn More &raquo;</a> 
        </div>

        <div class="span6">
          <h4>MARCR Datastore and Library Apps at Colorado College</h4>
          <p>
		  <a href="/techbytes/cc-marcr-ds-lib-apps.html" class="btn btn-small">Learn More &raquo;</a> 
		  </p>
		  <h4>Evolving towards a Consortium MARCR Datastore in a Hybrid-Cloud</h4>
		  <p>
		   <a href="/techbytes/consortium-marcr-ds.html" class="btn btn-small">Learn More &raquo;</a> 
		  </p>
		  <h4>Presentation Addendum</h4>
        </div>
      </div>
      {% endblock %}
      <hr>
