{% extends 'presentation-base.html' %}
{% load i18n %}
    {% block main-content %}
      <div class="jumbotron">
        <h1>The Library as a Lean Start-up</h1>
        <p class="lead">
		  Using <a href="{% url techbytes.views.glossary %}#NoSQL">NoSQL</a>, 
          <a href="{% url techbytes.views.glossary %}#MARCR">MARCR</a>, and 
          <a href="{% url techbytes.views.glossary %}#HTML5">HTML5</a> Apps for managing a modern 
		  Bibliographic Datastore 
		</p>
     </div>
     {% endblock %}
      <hr>
     {% block support-content %}
      <div class="row-fluid marketing">
        <div class="span6">
		 <h1>First</h1>
		 <p>
          <a href="{% url techbytes.views.orgmap %}" 
		     class="btn btn-large btn-primary">Organizational Map</a>
         </p>
		 <h1>Second</h1>
		 <p>
          <a href="{% url techbytes.views.leanstartup %}" class="btn btn-large btn-primary">The Lean Start-up</a>
         </p>
		 <h1>Third</h1>
		 <p>	 
		  <a href="{% url techbytes.views.frbr_rda_marcr %}"
		     class="btn btn-large btn-primary">FRBR, RDA, &amp; Redis MARCR Datastore</a>
         </p>
        </div>

        <div class="span6">
		 <h1>Forth</h1>
		 <p>
          <a href="{% url techbytes.views.cc_marcr_apps %}"
		     class="btn btn-large btn-primary">MARCR Datastore and Library Apps at Colorado College</a>
         </p>
		 <h1>Fifth</h1>
		 <p>
          <a href="{% url techbytes.views.consortium_marcr_ds_hybrid_cloud %}"
		     class="btn btn-large btn-primary">Evolving towards a Consortium MARCR Datastore in a Hybrid-Cloud</a>
	     </p>
		 <h1>Presentation Addendum</h1>
		 <p>
	      <a href="{% url techbytes.views.glossary %}"
		     class="btn btn-large">Glossary</a>
		 </p>
		 <p>
	      <a href="{% url techbytes.views.resources %}"
		     class="btn btn-large">Resources</a>
		 </p>
        </div>
      </div>
      {% endblock %}
      {% block next-slide %}
        <a class="btn btn-large btn-success" href="/techbytes/org-map.html">Organizational Map &raquo;</a>
      {% endblock %} 
