{% extends 'fluid.html' %}
{% load i18n %}

{% block navbar-fixed %}
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
	<div class="container-fluid">
	  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </a>
	  <a class="brand" href="/">DU ASIS&amp;T TechBytes Presentation</a>
	  <div class="nav-collapse">
		<ul class="nav secondary-nav">
		  <li class="active"><a href="/">Home</a></li>
		  <li class="dropdown">
			<a href="#" 
			   class="dropdown-toggle" 
	           data-toggle="dropdown">Presentation<b class="caret"></b></a>
	        <ul class="dropdown-menu">
			  {% include "snippets/presentation-list.html" %}
			</ul>
		</li>
	 
	  {% comment %}START readings-and-resources drop-down LI{% endcomment %}   
		  <li class="dropdown">
	       <a href="#" 
		      class="dropdown-toggle" 
	          data-toggle="dropdown">Addendum<b class="caret"></b></a>
	        <ul class="dropdown-menu">
			 <li><a href="/techbytes/glossary.html">Glossary</a></li>
		     <li><a href="/techbytes/references.html">References</a></li>
			 <li><a href="/techbytes/task-summary.html">Task Summary</a></li>
			 <li><a href="/techbytes/manager-summary.html">Manager Summary</a></li>
			 <li><a href="/techbytes/leader-summary.html">Leader Summary</a></li>			 
	        </ul>
	  {% comment %}END About drop-down LI{% endcomment %}   
		  </li>
		</ul>
	  </div><!--/.nav-collapse -->
	</div>
  </div>
</div>
{% endblock %}


{% block top-menu-bar %}
{% endblock %}

{% block sidebar-nav %}
<div class="span3">
<div class="well sidebar-nav">
 <ul class="nav nav-list nav-tabs nav-stacked">
  <li class="nav-header">Presentation</li>
  <ul class="unstyled">
  {% include "snippets/presentation-list.html" %}
  </ul>
  <li class="nav-header">Addendum</li>
  <ul class="unstyled">
  {% include "snippets/addendum-list.html" %}
  </ul>
 </ul>
</div>
</div>
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block hero-unit %}
<div class="span7 hero-unit">
 <h2>TechBytes Presentation</h2>
 <h1>The Library as a Start-up</h1>
 <p class="lead">
  Using <a href="/glossary.html#NoSQL">NoSQL</a>, 
        <a href="/glossary.html#MARCR">MARCR</a>, and 
        <a href="/glossary.html#HTML5">HTML5</a> Apps for 
   managing a modern Bibliographic Datastore 
 </p>
</div>
{% endblock %}

{% block first-row %}
<div class="row">
<div class="span4 well">
<h2>Presentation Outline</h2>
 <ul>
 </ul>
</div>
<div class="span3 well">
<h2> </h2>
 <p>
 
 </p>
</div>
</div>
{% endblock %}

{% block dialogs %}
 {% include "snippets/techbytes-dlgs.html" %}
{% endblock %}
