{% extends 'presentation-base.html' %}
{% load i18n %}

{% block title %}Pat Wagner's Organizational Map{% endblock %}

{% block main-content %}
<div class="jumbotron">
 <h2 class="media-heading">The Pattern Research Leadership Model</h2>
 <h1>Organizational Map</h1>
</div>
{% endblock %}

{% block support-content %}
<div class="row-fluid marketing">
<div class="media">
  <a class="pull-left" href="#">
    <img src="{{ STATIC_URL }}img/pat-wagner.jpg" class="media-object img-polaroid">
  </a>
  <div class="media-body">
   <p style="margin-left: 120px" class="lead">Pat Wagner, of 
    <a href="http://www.pattern.com/">Pattern Research Inc.</a>, provides a useful
    management model for library organizations. Task, managerial, and leadership levels
    in a library demand similar and different requirements from library systems and 
    and supporting technologies.</p>
    <a class="btn btn-warning" href="#time-org-map-dlg" data-toggle="modal"><i class="icon-time icon-white"></i> Time in Organizational Map</a>
   </p>
  </div>
</div>
</div>
<hr/>
<div class="row-fluid marketing">
 <div class="span4">
  <h3>Task Level</h3>
  <p>Most library operations that deal with specific <span class="label label-info">day-to-day workflows</span> 
     operate at the task level. 
  <p>
    Task-level activities focus on accomplishing results in the immediate present. Most 
	library staff tend to operation at the task level, even if the librarian or staff are in middle-management.
   </p>
   <p>
	The characteristics of a task-based work are:
   </p>	
   <ul>
     <li><strong>Narrow in scope</strong></li> 
	 <li><strong>Not concerned with long-term implications</strong></li> 
	 <li><strong>Immediate feedback</strong>. (i.e. a patron is either satisfied or not with the reference help,
	 a book is either ordered or not, or backups are accomplished or not)</li>
   </ul>
    Some
     examples include a librarian staffing a reference shift at a service desk, a member of the library
     staff in acquisition orders material, and the library staff performing back-ups of critical library
	 systems.</p>
 </div>
 <div class="span4">
  <h3>Managerial Level</h3>
  <p>
    Librarians and staff at the managerial level <span class="label">coordinate</span> the work being done at the task
	level while <span class="label">communicating</span> with the library leadership or administration about the results
	of the work being done. This may involve <span class="label">translating</span> the broader ideas and directions from
	the library administration to the staff's specific task-oriented work-flows. Foresight and planning at the
	managerial level typically extends no more than 24 months in the future and emphasis is on internal management
	of the task-level workflows in that time-span.
  </p>
  <p>
    Some examples of managerial level activities include such things as a
    Reference Department Head scheduling the next month's reference shifts on a service desk, communicating
	the summary statistics of a reference interviews in the past year to library administration, and translating
	the problems reference staff may have with the catalog to the library systems departments.
  </p>
 </div>
 <div class="span4">
  <h3>Leadership Level</h3>
  <p>
    The library leadership, usually the Library Director, is more focused on providing a 
	<span class="label label-important">vision</span> for the library that extends significantly 
	beyond the immediate time-horizon of the task level and the two year time horizon of the managerial
	level. The results strategic decisions made by the Library Director  at the leadership level may not 
	be seen in the library until years.
  </p>
  <p>
	The lack of results are one <span class="label label-important">risk</span>
	that the leadership must plan for. Other risks including the staff losing trust in the leadership and that 
    viision	proves to be a distraction by the task and manager levels. The library director must be 
	able to effectively articulate the vision to the managerial and task levels, to 
	<span class="label label-important">influence</span> not only the library, but also important external 
	stake-holders of the library including town or city councils, university administration, library
	board members, and donors.
  </p>
 </div>
</div>
<hr/>
<div class="row-fluid marketing">
 <div class="span12">
  <div class="alert alert-block">
   <h4>Implications for Library Technology</h4>
   <p>
    Decisions about library technology are often made at the managerial and leadership level
	without proper consideration of all of the impacts the technology may have to the task-level work.
   </p>
   <p>
    Any library technology must be able to support the workflows and decision-making for each level in
	the library's organizational map.
   </p>
  </div>
 </div>
</div>
{% endblock %}

{% block next-slide %}
  <a class="btn btn-large btn-success" href="/techbytes/lean-startup.html">The Lean Startup &raquo;</a>
{% endblock %}

{% block dialogs %}
<div class="modal fade" id="time-org-map-dlg">
 <div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h2>Library Organizational Map in Time</h2> 
 </div>
 <div class="modal-body">
 <p>
  <img src="{{ STATIC_URL }}img/time-lib-org-map.svg" alt="Time in a Library Organizational Map" />
 </p>
 </div>
  <div class="modal-footer">
  <a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
 </div>
</div>
{% endblock %}
