{% extends 'background.html' %}

{% block page-title %}Introduction to Library Systems - Instructor{% endblock %}

{% block more-css %}
<link href="{{ STATIC_URL }}css/background.less" type="text/css" rel="stylesheet/less" >
{% endblock %}

{% block more-breadcrumb-links %}
<li><a href="/background">Background</a> <span class="divider">&raquo;</span></li>
<li><a href="/background/instructor">Instructor</a></li>
{% endblock %}

{% block sidebar-nav %}
 {% include 'snippets/left-navigation.html' %}
{% endblock %}

{% block hero-unit %}
<div class="hero-unit">
 <img src="{{ STATIC_URL }}img/me-code4lib-2012.jpg" class="instructor-pic" />
 <h1 id="main">Instructor</h1>
 <h2>{{ instructor.full_name }}</h2>
 <p>
   <h3>{{ instructor.title }} Metadata &amp; Systems Librarian<br/>Colorado College</h3>
 </p>
 <p>
   E-mail: <a href="mailto:{{ instructor.email }}">{{ instructor.email }}</a>
 </p>
</div>
{% endblock %}

{% block one-one-box %}
<div class="span3 well">
 <h3>Research &amp; Vita</h3>
 <p>
   Jeremy Nelson's current research
   interests are <a href="https://github.com/jermnelson/FRBR-Redis-Datastore">bibliographic datastores
   using NoSQL technologies</a>
 </p>
 <p>
   Jeremy Nelson's <a href="#">professional vita</a>
 </p> 
</div>
{% endblock %}

{% block one-two-box %}
<div class="span4 well">
 <h3>Recent Presentations and Publications</h3>
 <p>
   <i>NoSQL Bibliographic Records: Implementing a Native FRBR Datastore with Redis</i> 
   Code4Lib Annual Conference 2012. Seattle.
   <a href="http://discovery.coloradocollege.edu/code4lib/">http://discovery.coloradocollege.edu/code4lib/</a>
 </p>
</div>
{% endblock %}
