{% extends 'background.html' %}

{% block page-title %}Introduction to Library Systems - Syllabus{% endblock %}

{% block more-css %}
<link href="{{ STATIC_URL }}css/background.less" type="text/css" rel="stylesheet/less" >
{% endblock %}

{% block more-breadcrumb-links %}
<li><a href="/background">Background</a> <span class="divider">&raquo;</span></li>
<li>Syllabus</li>
{% endblock %}

{% block sidebar-nav %}
 {% include 'snippets/left-navigation.html' %}
{% endblock %}

{% block hero-unit %}
{% endblock %}

{% block first-row %}
<div class="row-fluid">
<div class="span11">
 <div class="well">
  <h2>Introduction to Library Systems</h2>
  <h1>Syllabus</h1>
 </div>
</div>
<div class="row-fluid">
{% for session in sessions|slice:":3" %}
<div class="span3 well">
 <h3>Class {{ session.pk }}</h3>
 {% if session.start %}<p>{{ session.start }}</p>{% endif %}
 <h2><a href="/sessions/{{ session.pk }}">{{ session.label }}</a></h2>
</div>
{% endfor %}
</div>
<div class="row-fluid">
{% for session in sessions|slice:"3:6" %}
<div class="span3 well">
 <h3>Class {{ session.pk }}</h3>
 <h2><a href="/sessions/{{ session.pk }}">{{ session.label }}</a></h2>
</div>
{% endfor %}
</div>
<div class="row-fluid">
{% for session in sessions|slice:"6:9" %}
<div class="span3 well">
 <h3>Class {{ session.pk }}</h3>
 <h2><a href="/sessions/{{ session.pk }}">{{ session.label }}</a></h2>
</div>
{% endfor %}
</div>
<div class="row-fluid">
{% for session in sessions|slice:"9:" %}
<div class="span3 well">
 <h3>Class {{ session.pk }}</h3>
 <h2><a href="/sessions/{{ session.pk }}">{{ session.label }}</a></h2>
</div>
{% endfor %}
</div>

</div>
{% endblock %}
