{% extends 'fluid.html' %}
{% load i18n %}

{% block top-menu-bar %}
{% endblock %}

{% block sidebar-nav %}
 {% include 'snippets/left-navigation.html' %}
{% endblock %}

{% block more-breadcrumb-links %}
<li>Learner Login</li>
{% endblock %}

{% block hero-unit %}
<div class="span7 hero-unit">
 <h2>Introduction to Library Systems</h2>
 <h1>Login</h1>
 <form method="POST" action="/learner/login">
 {% csrf_token %}
 {{ login_form.as_p }}
 <input type="submit" value="Login" class="btn btn-primary" />
 </form>
</div>
{% endblock %}

{% block first-row %}

{% endblock %}
