{% extends 'fluid.html' %}
{% load i18n %}

{% block top-menu-bar %}
{% endblock %}

{% block sidebar-nav %}
 {% include 'snippets/left-navigation.html' %}
{% endblock %}

{% block more-breadcrumb-links %}
<li>Learner {{ learner.user.username }} Profile</li>
{% endblock %}

{% block hero-unit %}
<div class="span7 hero-unit">
 <h2>Introduction to Library Systems</h2>
 <h1>{{ learner.user.username }} Profile</h1>
 <a href="#update-learner" role="button" data-toggle="modal" class="btn btn-primary">Update</a>
</div>
{% endblock %}

{% block first-row %}
<div class="row">
<div class="span4 well">
 <h3>Attendance</h3>
 <ul>
 {% for row in attendance %}
  <li>{{ row.date_of|date:"F d, Y" }} {% if row.is_absent %}Absent{% endif %}</li>
 {% endfor %}
 </ul>
 <a href="#" class="btn btn-primary">Comment</a>
</div>
<div class="span3 well">
 <h3>Assessments</h3>
 <ul>
 {% for row in tests %}
 <li>{{ row.test.start|date:"F d, Y" }} {{ row.test.type_of }}</li>
 {% endfor %}
 </ul>
</div>
{% endblock %}


{% block dialogs %}
{% include 'snippets/learner-profile.html' %}
{% endblock %}
