{% extends 'fluid.html' %}
{% load i18n %}


{% block sidebar-nav %}
 {% include 'snippets/left-navigation.html' %}
{% endblock %}

{% block hero-unit %}
<div class="span7 hero-unit">
 <img src="{{ STATIC_URL }}img/du_logo.gif" />
 <img src="{{ STATIC_URL }}img/gunnison-river-bridge.png" style="float:right; width:280px;" />
 <h2>Introduction to</h2>
 <h1>Library Systems</h1>
 <p>Instructor: Jeremy Nelson</p>
 <a href="/textbook/" class="btn btn-primary btn-large" style="float:right">Textbook</a>
</div>

{% endblock %}

{% block first-row %}
<div class="row">
 <div class="span3 well">
   <blockquote class="pull-right">
    <p>
      I have always imagined that Paradise will be a kind of
      library.
    </p>
    <p><small>Jorge Luis Borges</small</p>
   </blockquote>
</div>

<div class="span4 well">
 <h2>Expected Outcomes</h2>
 <ul>
  <li>Survey of Library Technology</li>
  <li>Introduction to Major Schemas &amp; Formats</li>
  <li>Administering IT &amp; Library Systems</li>
  <li>Exposure to Library App Development</li>
  <li>Future trends in Library &amp; Network Systems</li>
 </ul>
</div>
</div>
{% endblock %}
