{% extends 'base.html' %}
{% load i18n %}

{% block page-title %}Introduction to Library Systems - {{ session.label }}{% endblock %}

{% block more-css %}
<link href="{{ STATIC_URL }}css/background.less" type="text/css" rel="stylesheet/less" >
<link href="{{ STATIC_URL }}css/curriculum.less" type="text/css" rel="stylesheet/less" >
{% endblock %}

{% block more-breadcrumb-links  %}
<li><a href="/sessions">Sessions</a> <span class="divider">&raquo;</span></li>
<li>{{ session.label }}</li>
{% endblock %}

{% block sidebar-nav %}
{% include "snippets/left-session-navigation.html" %}
{% endblock %}

{% block hero-unit %}
<div class="hero-unit">
 <h2>{{ session.start }}</h2>
 <h1>{{ session.label }}</h1>
</div>
{% endblock %}

{% block one-two-box %}
<div class="span3 well">
<p style="text-align:right">
<img src="{{ STATIC_URL }}img/gunnison-river-bridge.png" class="slide-teaser-pic" />
<br/>
<a href="/sessions/1/slides/1" class="btn btn-primary btn-large">Welcome to the Course &raquo;</a>
</p>
</div>
{% endblock %}
