{# Right Navigation #}
<div class="col-md-4">
 <div class="btn-group-vertical">
   <a class="btn btn-success"
       href="/topics">
      Topics
    </a>
   <a class="btn btn-success"
       href="/resources">
      Resources
    </a>
    <a class="btn btn-success"
       href="/presentations">
      Presentations
    </a>
    <a class="btn btn-success"
       href="/assessments">
      Assessments
    </a>
    <a class="btn btn-success"
       href="/coaching-consultin">
     Coaching &amp; Consulting
    </a>

   <a class="btn btn-success"
       href="/about">
      About
    </a>
 </div>
{# End Navigation #}
</div>
