{% load i18n %}
<li><strong>Session 1:</strong> <a href="/session/1">Introduction to Library Systems</a></li>
<li> <strong>Session 2:</strong> <a href="/session/2">MARC Records and Metadata</a></li>
<li><a href="/session/3">Integrated Library Systems (ILS)</a></li>
<li><a href="/session/4">Digital Repositories &amp; Library Websites</a></li>
<li><a href="/session/6">Consortium, Vendors, &amp; Me</a></li>
<li><a href="/session/7">Developer-Operations "DevOps" for Library Systems</a>
<li><a href="/session/8">NoSQL, Clouds, and Mobile</a></li>
<li><a href="/session/9">Class Project Presentations</a></li>
<li><a href="/session/10">Finish Class Project Presentations</a></li>
