{% load i18n %}
<div class="span2 accordion-nav">
{% comment %}START sidebar-nav-accordion DIV{% endcomment %}
<ul id="sidebar-nav-accord" class="nav nav-list">
 <li class="nav-header">
 <a class="btn" 
    data-toggle="collapse" 
    data-parent="#sidebar-nav-accord"
    data-target="#backgroundContent"><i class="icon-info-sign"></i> {% trans "Background" %}</a>
 
 </li>
  {% comment %}START backgroundContent DIV{% endcomment %}
  <div id="backgroundContent" 
       class="collapse{% if not section %} in{% endif %}">
   {% include 'snippets/background-list.html' %}
  {% comment %}END backgroundContent DIV{% endcomment %}
  </div>
 <li class="nav-header">
 
 <a class="btn"
    data-toggle="collapse" 
    data-parent="#sidebar-nav-accord"
    data-target="#syllabus"><i class="icon-list-alt"></i> {% trans "Syllabus" %}</a></li>
 <div id="syllabus" 
      class="collapse{% if section == 'syllabus' %} in{% endif %}">
   <ul>
    <li><a href="/syllabus/">Class Schedule</a></li>
    <li><a href="/syllabus#grading-policy">Grading Policy</a></li>
    <li><a href="/syllabus/instructor-contact">Instructor Contact</a></li>
    <li><a href="/syllabus/project">Group Project</a></li>
   </ul>
 </div>
 <li class="nav-header">
 <a class="btn"
    data-toggle="collapse" 
    data-parent="#sidebar-nav-accord"
    data-target="#assessments"><i class="icon-warning-sign"></i> {% trans "Assessments" %}</a></li>
 <div id="assessments" class="collapse{% if section == 'assessment' %} in{% endif %}">
  <li><a href="/assessment/quizzes">Take-home quizzes</a></li>
  <li><a href="/assessment/examinations">Examinations</a></li>
  <li><a href="/assessment/exercises">Exercises</a></li>
  <li><a href="/assessment/project">Project</a></li>
 </div>

<li class="nav-header">
 <a class="btn"
    data-toggle="collapse{% if section == 'readings' %} in{% endif %}" 
    data-parent="#sidebar-nav-accord"
    data-target="#readings"><i class="icon-book"></i> {% trans "Readings" %}</a></li>
 <div id="readings" class="collapse">
  <ul>
  <li><a href="/textbook/">Introduction to Library Systems eTextBook</a></li>
  {% for resource in readings_by_alpha %}
  <li>{% if resource.url %}<a href="{{ resource.url }}">{% endif %}
   <em>{{ resource.title }}</em>
   {% if resource.page_range %}{{ resource.page_range }}{% endif %}
   {% if resource.url %}</a>{% endif %}
  </li>
  {% endfor %}
  </ul>
 </div>
{% comment %}
<li class="nav-header">
 <a class="btn"
    data-toggle="collapse" 
    data-parent="#sidebar-nav-accord"
    data-target="#resources"><i class="icon-picture"></i> {% trans "Resources" %}</a></li>
 <div id="resources" class="collapse">
  <li>Resources go here</li>
 </div>
{% endcomment %}
{% comment %}END sidebar-nav-accordion DIV{% endcomment %}
</ul>
</div>
