{% extends 'fluid.html' %}
{% load i18n %}

{% block top-menu-bar %}
{% endblock %}

{% block sidebar-nav %}
 {% include 'snippets/left-navigation.html' %}
{% endblock %}

{% block more-breadcrumb-links %}
<li><a href="/syllabus/">Syllabus</a><span class="divider">&raquo;</span></li>
<li>Instructor Contact</li>
{% endblock %}

{% block hero-unit %}
<div class="span7 hero-unit">
 <h2>Introduction to Library Systems</h2>
 <h1>Instructor Contact</h1>
 {% for person in instructor %}
  <p style="float:right">
   <img width="150" height="300" src="{{ STATIC_URL }}img/{{ person.profile_image_link }}" />
  </p>
  <p>{{ person.user.first_name }} {{ person.user.last_name }} can be contacted via
     email at <a href="mailto:{{ person.user.email }}">{{ person.user.email }}</a>
    {% if person.alt_email %}or at <a href="mailto:{{ person.alt_email }}">{{ person.alt_email }}</a>{% endif %}.
  </p>
 {% endfor %}
</div>
{% endblock %}

{% block first-row %}
{% endblock %}
