{% extends 'fluid.html' %}
{% load i18n %}
{% load syllabus_extras %}

{% block top-menu-bar %}
{% endblock %}

{% block sidebar-nav %}
<div class="span2">
 <div class="row">
 {% include 'snippets/left-navigation.html' %}
 </div>
 <div class="row">
  <br/>
  <div class="span2 well">
   <h3>Project Outcomes</h3>
   <ul>
     <li>Create an <a href="https://github.com/jermnelson/aristotle-library-apps">Aristotle Library Apps</a>
         instance for your group project's collection</li>
     <li>Catalog and record the collection using a Metadata format of your choice and that meets the
         needs of the collection's owners/users. The collection's metadata should be stored in either 
         XML or JSON.</li>
     <li>Modify/Extend Title and Creator Apps for the collection</li>
     <li>Create/Develop a Subject Specific App for the collection</li>
     <li>New code includes unit tests and code comments</li>
   </ul>
  </div>
 </div>
</div>
{% endblock %}

{% block more-breadcrumb-links %}
<li>Group Project</li>
{% endblock %}

{% block hero-unit %}
<div class="span7 hero-unit">
 <h2>Introduction to Library Systems</h2>
 <h1>Group Project</h1>
 <p>You and two or three of your classmates will put Agile development 
    principles in practice as you create a small number of Access and 
    Discovery HTML5 apps for a small collection of material owned by
    an external party. Many religious, civic, and other non-profit 
    organizations have small collections of books, periodicals, video,
    or audio material. Corporations and small business often have small
    collections of industry or other material that exists as a disorganized
    lending collection.
 </p>
 <p>You group must identify and approach an organization and offer to catalog
    and implement at least three HTML5 apps to assist the collection's users
    in Accessing and Discovering the collection's material.
 </p>
</div>
{% endblock %}

{% block first-row %}
<div class="span4 well">
<h2>Example Project</h2>
<p>To give you an idea on what is expected of your group's project; Jeremy Nelson 
   has created three apps for a real Aikido dojo lending collection of
   Aikido DVDs. As the course progresses, the Pikes Peak Aikido Library 
   will be used to demostrate and provide an example of modifing, extending,
   and creating new HTML5 apps with a <a href="http://redis.io/">Redis</a>
   bibliographic datastore  running on a Rackspace Linux Virtual Machine.
</p> 
</div>
<div class="span3 alert alert-block alert-warning">
 <h3>Evaluation</h3>
 <p>
  Your Group Project evaluated includes peer review of your participation
  and contribution, a self-evaluation, and evaluation by the organization
  whose collection you used for your project. More details on how 
  your project is assessed, is available at 
  <a href="/assessment/project">http://www.intro2libsys.info/assessment/project</a>. 
 </p>

</div>
{% endblock %}
