{% extends 'fluid.html' %}
{% load i18n %}

{% block top-menu-bar %}
{% endblock %}

{% block sidebar-nav %}
 {% include 'snippets/left-navigation.html' %}
{% endblock %}

{% block more-breadcrumb-links %}
<li><a href='/{{ month.0|date:"Y" }}/'>{{ month.0|date:"Y" }}</a> <span class="divider">&raquo;</span></li>
<li>{{ month.0|date:"F" }}</li>
{% endblock %}

{% block hero-unit %}
<div class="span7 hero-unit">
 <h2>Introduction to Library Systems</h2>
 <h1>Course Sessions {{ month.0|date:"F Y" }}</h1>
 {% for row in classes %}
 <h3><a href='/{{ row.date.start|date:"Y" }}/{{ row.date.start|date:"m" }}/{{ row.date.start|date:"d" }}/'>Session {{row.date.pk }}</a></h3>
 <p>
  <strong>Start: </strong>{{ row.date.start }}<br/>
  <strong>End: </strong>{{ row.date.end }}<br/>
  {% if row.chapters.0|length > 0 %}
  <strong>Textbook chapter(s): </strong>
  <ul>
  {% for chapter in row.chapters.0 %} 
   <li><a href="{{ chapter.url }}">{{ chapter.title }}</a></li>
  {% endfor %}
  </ul>
  {% endif %}
  {% if row.readings %}
  <strong>Readings:</strong>
  <ul> 
  {% for reading in row.readings %}
   <li>{% if reading.url %}<a href="{{ reading.url }}">{% endif %}
       <em>{{ reading.title }}</em>
       {% if reading.page_range %} pages: {{ reading.page_range }}{% endif %}
       {%if reading.url %}</a>{% endif %}
   </li>
  {% endfor %}
  </ul>
  {% endif %}
 </p>
 <hr/>
 {% endfor %}
</div>
{% endblock %}

{% block first-row %}
<div class="row">
<div class="span4 well">
 <ul>
  <li>Survey of Library Technology</li>
  <li>Introduction to Major Schemas &amp; Formats</li>
  <li>Exposure to Library App Development</li>
  <li>Future trends in Library &amp; Network Systems</li>
 </ul>
</div>
{% comment %}Start Grading Policy{% endcomment %}
<div class="span3 well">
<a name="grading-policy"></a>
<h2>Grading Policy</h2>
</div>
</div>
{% endblock %}
