{% extends 'fluid.html' %}
{% load i18n %}
{% load syllabus_extras %}

{% block top-menu-bar %}
{% endblock %}

{% block sidebar-nav %}
 {% include 'snippets/left-navigation.html' %}
{% endblock %}

{% block more-breadcrumb-links %}
<li>Syllabus</li>
{% endblock %}

{% block hero-unit %}
<div class="span7 hero-unit">
 <h2>Introduction to Library Systems</h2>
 <h1>Course Syllabus</h1>
 {% for row in classes %}
 <h3><a href='/{{ row.date.start|date:"Y" }}/{{ row.date.start|date:"m" }}/{{ row.date.start|date:"d" }}/'>Session {{forloop.counter }}</a></h3>
 <p>
  <strong>Start: </strong>{{ row.date.start }}<br/>
  <strong>End: </strong>{{ row.date.end }}<br/>
 </p>
  {% if row.chapters %}
  <p>
   <strong>Textbook chapter(s): </strong>
  </p>
  <ul>
  {% for chapter in row.chapters %} 
    
   <li><a href="{{ chapter.url }}">{{ chapter.title }}</a></li>
  {% endfor %}
  </ul>
  {% endif %}
  {% if row.readings %}
  <p>
   <strong>Readings:</strong>
  </p>
  <ul> 
  {% for reading in row.readings %}
   <li>{% if reading.url %}<a href="{{ reading.url }}">{% endif %}
       <em>{{ reading.title }}</em>
       {% if reading.page_range %} pages: {{ reading.page_range }}{% endif %}
       {%if reading.url %}</a>{% endif %}
   </li>
  {% endfor %}
    </ul>
  {% endif %}
{% if row.test %}
<p>
  {% for examine in row.test %}
  <strong>Examination: </strong>{{ examine.get_category_display|title }}
  {% endfor %}
<p>
{% endif %} 
{% if row.exercise %}
<p>
 {% for exercise in row.exercise %}
 <strong>Exercise:</strong> {{ exercise.value }}
 {% endfor %}
</p>
{% endif %}
 <hr/>
 {% endfor %}
</div>
{% endblock %}

{% block first-row %}
<div class="row">
<div class="span4 well">
<h2>Intended Outcomes</h2>
 <ul>
  <li>Survey of Library Technology</li>
  <li>Introduction to Major Schemas &amp; Formats</li>
  <li>Exposure to Library App Development</li>
  <li>Future trends in Library &amp; Network Systems</li>
 </ul>
<a href="#" class="btn btn-alert">What is Missing?</a>
</div>
{% comment %}Start Grading Policy{% endcomment %}
<div class="span3 well">
<a name="grading-policy"></a>
<h2>Grading Policy</h2>
 <p>
  Grades are determined through a combination of the following:
 </p>
 <ul>
  <li>Weekly participation and technical exercises: <strong>35%</strong></li>
  <li>Group Project: <strong>30%</strong></li>
  <li>Final: <strong>15%</strong></li>
  <li>Midterm: <strong>10%</strong></li>
  <li>Job Ad Exercise: <strong>5%</strong></li>
  <li>Fail Essay: <strong>5%</strong></li>
 </ul>
</div>
</div>
{% endblock %}
