{% extends 'fluid.html' %}
{% load i18n %}
{% load syllabus_extras %}

{% block top-menu-bar %}
{% endblock %}

{% block sidebar-nav %}
 {% include 'snippets/left-navigation.html' %}
{% endblock %}

{% block more-breadcrumb-links %}
<li><a href="/assessment/">Assessment</a><span class="divider">&raquo;</span></li>
<li>Take-home Quiz for {{ quiz.date_of.start|date:"F d, Y"}} </li>
{% endblock %}

{% block hero-unit %}
<div class="span7 hero-unit">
 <h2>Introduction to Library Systems</h2>
 <h1>Take-home Quiz</h1>
 <h2>{{ quiz.date_of.start|date:"F d, Y"}}</h2>
</div>
{% endblock %}

{% block first-row %}
<div class="span6 well" >
<p><strong>Directions:</strong> Please select five questions to answer. All questions
   should be from different readings.
</p>
<ul>
{% for question in questions %}
 <li>
  {{ question.question }}
  {% if question.reading %}
   Source: {% if question.reading.url %}<a href="{{ question.reading.url }}">{% endif %}<em>{{ question.reading.title }}</em>{% if question.reading.url %}</a>{% endif %}
  {% endif %}
 </li>
{% endfor %}
</ul>
</div>
{% endblock %}
