{% extends 'fluid.html' %}
{% load i18n %}
{% load syllabus_extras %}

{% block top-menu-bar %}
{% endblock %}

{% block sidebar-nav %}
 {% include 'snippets/left-navigation.html' %}
{% endblock %}

{% block more-breadcrumb-links %}
<li>Fail Essay</li>
{% endblock %}

{% block hero-unit %}
<div class="span7 hero-unit">
 <h2>Introduction to Library Systems</h2>
 <h1>Fail Essay</h1>
 <p>Look back on your class experience and pick at least
    one instance that you failed. This could be frustration 
    on a technical exercise, conflict in your small project,
    or a quiz result that disappointed you. Write a 3-5 page
    essay, first describe the failure, the eventual outcome,
    and your own reaction and response. Finally, finish with
    what you have learned as result of the failure.
 </p>
</div>
{% endblock %}

{% block first-row %}
<div class="span6 well">
 <p>For background on the <strong>Introduction to Library Systems</strong> fail 
    exercise, please watch this Big Think interview with Edward B. Burger,
    the author of the book <em>The 5 Elements of Effective Thinking</em>.
 <iframe width="512" scrolling="no" height="288" frameborder="0" marginwidth="0" marginheight="0" src="http://bigthink.com/embeds/video_idea/47188%20?width=512&height=288&auto_play=0"></iframe>
</div>
<div class="span2 well">
 <h3>Deliverables</h3>
 <ul>
  <li>3-5 page essay</li>
 </ul>
</div>
{% endblock %}
