{% extends 'fluid.html' %}
{% load i18n %}
{% load syllabus_extras %}

{% block top-menu-bar %}
{% endblock %}

{% block sidebar-nav %}
 {% include 'snippets/left-navigation.html' %}
{% endblock %}

{% block more-breadcrumb-links %}
<li><a href="/assessment/">Assessment</a><span class="divider">&raquo;</span></li>
<li>Quizzes</li>
{% endblock %}

{% block hero-unit %}
<div class="span7 hero-unit">
 <h2>Introduction to Library Systems</h2>
 <h1>Take-home Quizzes</h1>
</div>
{% endblock %}

{% block first-row %}
<div class="span7 well">
{% for quiz in quizzes %}
<h3>{{ quiz.date_of.start|date:"F d, Y" }}</h3>
<p><a class="btn btn-info" href="/assessment/quiz?pk={{ quiz.pk }}">Link</a></p>
{% endfor %}
</div>
{% endblock %}
