{% extends 'base.html' %}

{% block body %}
<div class="container">
 <div class="row">
  {% include 'snippets/navbar.html' %}
 </div>

<div class="row">
 <div class="col-md-12">
  <ol class="breadcrumb">
    <li><a href="{{ url_for('index') }}">Home</a></li>
    <li><a href="{{ url_for('entity_listing', entity=entity['@type']) }}">{{ entity['@type'] }}</a></li>
    <li class="active"> 
   {% if entity.headline %}
    {{ entity.headline }}
   {% else %}
    {{ entity.name }}
   {% endif %}
    </li>
  </ol>
 </div>
</div>

<div class="row">
 <div class="col-md-8">
  <div itemscope itemtype="{{ entity['@type'] }}">
   <h1 itemprop=
   {% if entity.headline %}
    "headline">
    {{ entity.headline }}
   {% else %}
    "name">
    {{ entity.name }}
   {% endif %}
   <div class="btn-group">
   {% if entity.url %}
    <a href="{{ entity.url }}" class="btn btn-default">
     <span class="glyphicon glyphicon-link"></span>
    </a>
   {% endif %}
    <a href="#" class="btn btn-default">
      <img src="{{ url_for('static', filename='img/json-ld-data-24.png') }}">
    </a>
   </div>
   </h1>
   <div class="row">
    {# START column #}
    <div class="col-md-4">
     {# START author/creator Panel #}
     <div class="panel panel-info">
      {# START panel-heading #}
      <div class="panel-heading">
       <h2 class="panel-title">
       {% if 'author' in entity %}Authors{% endif %}
       {% if 'creator' in entity %}Creators{% endif %}
       </h2>
      {# END panel-heading #}
      </div>
      {# START panel-body #}
      <div class="panel-body">
      {% for author in entity.author %}
       <li itemscope itemtype="{{ author['@type'] }}">
         <span itemprop="name">{{ author.name }}</span>

       </li>
      {% endfor %}
      {# END panel-body #}
      </div>
     {# END author/creator Panel #}
     </div>
    {# END column #}
    </div>
    {# START column #}
    <div class="col-md-8 well well-sm">
     <p class="lead">
    {% if entity.copyrightYear %}
     &copy; <span itemprop="copyrightYear">
     {{ entity.copyrightYear }}</span>
    {% endif %} 
    </p>
    <dl>
    {% if entity.
    <p>{{ entity }}</p>
    {# END column #}
    </div>
   {# END row #}
   </div>
 </div>
</div>

</div>
{% endblock %}
