{% extends 'base.html' %}

{% block body %}
<div class="container">
 <div class="row">
  {% include 'snippets/navbar.html' %}
 </div>

<div class="row">
 <div class="col-md-12">
  <ol class="breadcrumb">
    <li><a href="{{ url_for('index') }}">Home</a></li>
    <li><a href="{{ url_for('entity_listing', entity=entity['@type']) }}">{{ entity['@type'] }}</a></li>
    <li class="active"> 
   {% if entity.headline %}
    {{ entity.headline }}
   {% else %}
    {{ entity.name }}
   {% endif %}
    </li>
  </ol>
 </div>
</div>

<div class="row">
 <div class="col-md-8">
  <div itemscope itemtype="{{ entity['@type'] }}">
   <h1 itemprop=
   {% if entity.headline %}
    "headline">
    {{ entity.headline }}
   {% else %}
    "name">
    {{ entity.name }}
   {% endif %}
   <div class="btn-group">
   {% if entity.url %}
    <a href="{{ entity.url }}" class="btn btn-default">
     <span class="glyphicon glyphicon-link"></span>
    </a>
   {% endif %}
    <a href="{{ request.path }}.json" class="btn btn-default">
      <img src="{{ url_for('static', filename='img/json-ld-data-24.png') }}">
    </a>
   </div>
   </h1>
   {% if entity.description %}
   <p class="lead">{{ entity.description }}</p>
   {% endif %}
   <div class="row">
    {# START column #}
    <div class="col-md-4">
     {% if 'author' in entity or 'creator' in entity %}
     {# START author/creator Panel #}
     <div class="panel panel-info">
      {# START panel-heading #}
      <div class="panel-heading">
       <h2 class="panel-title">
       {% if 'author' in entity %}Authors{% endif %}
       {% if 'creator' in entity %}Creators{% endif %}
       </h2>
      {# END panel-heading #}
      </div>
      {# START panel-body #}
      <div class="panel-body">
      {% for author in entity.author %}
       <li itemscope itemtype="{{ author['@type'] }}">
         <span itemprop="name">{{ author.name }}</span>
       </li>
      {% endfor %}
      {# END panel-body #}
      </div>
     {# END author/creator Panel #}
     </div>
     {% endif %}
    {# END column #}
    </div>
    {# START column #}
    <div class="col-md-8 well well-sm">
     <p class="lead">
    {% if entity.copyrightYear %}
     &copy; <span itemprop="copyrightYear">
     {{ entity.copyrightYear }}</span>
    {% endif %} 
    {% if entity.url %}
     URL is <a href="{{ entity.url }}" itemprop="url">{{ entity.url }}</a>
    {% endif %}
    </p>
    <p>
    {% for item in entity %}
    {{ item }}
    {% endfor %}
    </p>
    {% if entity.datePublished %}
    <p class="lead">Published on <span itemprop="datePublished">{{ entity.datePublished }}</span>
    {% if entity.publisher %}by {{ entity.publisher['@id']|organization_name }}{% endif %}.

    </p>

    {% endif %}
    {# END column #}
    </div>
   {# END row #}
   </div>
 </div>
</div>
 <div class="col-md-4">
  <h4>Comment</h4>
  <form method='POST'
        class="form"
        id="comment-form"
        action='comment'>
     {{ comment_form.csrf_token }}
   <div class="form-group">
    <label class="control-label" for='commentTime'>
     Commented on:
    </label>
   {{ comment_form.commentTime(class_="form-control") }}
   </div>

   <div class="form-group">
    <label class="control-label" for='creator'>
      Your email or URI
    </label>
   {{ comment_form.creator(class_="form-control") }}
   </div>
   <div class="form-group">
    <label class="control-label" for='commentText'>
      Comment (use either Raw text or Markdown)
    </label>
   {{ comment_form.commentText(class_="form-control") }}
   </div>
   <div class="form-group">
    <button class="btn btn-primary"
            data-bind="click: addComment">Add</button>
    <input type="reset" class="btn btn-warning"
            data-bind="click: resetForm"></input>
   </div>
  </form>
  <h4>Prior Comments</h4>
  <ul>
  {% for comment in comments %}
   <li>{{ comment.commentTime }} by {{ comment.creator }}
       <p>{{ comment.commentText }}</p>
   </li>
  {% endfor %}
  </ul>
 </div>
</div>
{% endblock %}

{% block more_js %}
<script>
 function CommentFromViewModel() {
   var self = this;
   self.commentText = ko.observable();
   self.commentTime = ko.observable();
   self.creator = ko.observable();

   self.addComment = function() {
     $.ajax({
      type: 'POST',
      url: '{{ entity['@id']|local_url }}/UserComments/add',
      data: $('#comment-form').serialize(),
      success: function(response) {
       alert("Comment added " + response['result']);
       $('#comment').reset();
      } 
    });
  }
  self.resetForm = function() {
    self.commentTime('');

  }
 }

 ko.applyBindings(new CommentFromViewModel());
</script>
{% endblock %}
