{% extends 'base.html' %}

{% block body %}
<div class="container">
 {% include 'snippets/navbar.html' %}
 {# START row #}
 <div class="row">
  <div class="col-md-2">
    <img src="{{ url_for('static', filename='img/chalk-blocks.png') }}">
  </div>
  <div class="col-md-10"> 
   <h1 style="font-size: 6em; margin-botton: 0">intro2libsys.info</h1>
   <h2>Coaching, Consulting, and Education</h2>
   <p class="lead">
    Resources, presentations, and
    educational assessments on topics related to library
    systems and technology 
    <small>as categorized, annotated, and curated by 
    <a href="/about">Jeremy Nelson</a></small>. This site is the 
    home for <a href="/JeremyNelson/services.html">intro2libsys.info LLC</a>.
   </p>
  </div> 
  {# include 'snippets/right-nav.html' #}
  {# END row #}
 </div>

  <hr>
  <div class="row">
   {#
   <div class="col-md-4">
    <h2>History of this site</h2>
    <a href="http://morgridge.du.edu/programs/library-and-information-science/">
      <img src="{{ url_for('static', filename='img/du_logo.gif') }}" style="float:left">
    </a>
    <p class="lead">
     This site initially started off as an <a href="/archive/textbook">online text-book</a> 
     for a graduate course, <strong>Introduction to Library Systems</strong> taught at the University of Denver's  
     <em>Library and Information Science</em> program. 
    </p>
    <h3>Contact</h3>
    <p class="lead">
    Email <a href="mailto:jermnelson@gmail.com">Jeremy Nelson</a>, text or call 
    (719) 299-1073. 
    </p>
   </div>
    #}
   <div class="col-md-8">
    <h3>Current Projects</h3>
    <p class="lead">Collaborating with Aaron Schmidt of <a href="http://weareinflux.com/">Influx 
    Library User Experience</a> on <a href="http://bibcat.org">BIBCAT</a>, a BIBFRAME catalog for the
    <a href="http://loc.gov">Library of Congress</a>.
     The current emphasis is building a <a href="/semantic-server">Semantic Server</a> that provides an common REST API to 
     entities structured as BIBFRAME, Schema.org, and MARC JSON-LD. 
    </p>
    <hr>
    <p class="lead bg-info"> 
     As the lead architect and software engineer for individual components of the <a href="/catalog-pull-platform">CPP</a>,
 <img src="https://raw.github.com/jermnelson/tiger-catalog/master/catalog/static/img/tiger-logo.png" class="pull-left">
     I'm working towards a soft launch of the <a href="https://github.com/jermnelson/tiger-catalog">Colorado 
     College TIGER Catalog</a> with a first MVP release now available at <a href="http://catalog.coloradocollege.edu/">catalog.coloradocollege.edu</a>. 
    </p>
    <hr>
    <p class="lead">
     Technology training for <a href="http://rx-m.com/">RX-M</a> and <a href="http://www.exitcertified.com/">ExitCertified</a>.<br>
     Current courses:
     </p>
     <ul class="lead">
      <li><a href="/introduction-to-redis">Introduction to Redis</a></li>
      <li>Introduction to Docker (in development)</li>
     </ul>
    </p>
   </div>
   <section class="col-md-4">
    <div class="alert alert-warning">
     <h2>2015 Presentations</h2>
     <dl class="dl-horizontal">
        <dt>February</dt>
        <dd>
          <a href="/code4lib-2015">Building a BIBFRAME Catalog with a Catalog Pull Platform</a> lighting
          talk at Code4Lib Annual Conference in Portland, Oregon. 
        </dd>
        <dt>April</dt>
        <dd>
          <a href="/niso-webinar-2015">Exploring BIBFRAME at a Small Academic Library</a>. NISO Webinar April 8th
        </dd>
     </dl>
   </div>
   <div class="alert alert-info">
    <img src="{{ url_for('static', filename='img/gunnison-river-bridge.png') }}" 
         class="" style="width: 300px;height:auto">
    <h2>Coming in 2015</h2> 
    <p class="lead">
     I am writing a book under contract with <a href="http://www.woodheadpublishing.com/en/ChandosHome.aspx">Chandos Publishing</a> titled
     <a href="http://www.woodheadpublishing.com/en/book.aspx?bookID=3354&ChandosTitle=1">Becoming a Lean Library</a> with
     a forecast publication date in April 2015. A special Introduction chapter will be released in a few
     months at the Book's <a href="http://www.becomingleanlibrary.com/">website</a>.
   </div>
   </section>
 </div>
  {% include 'snippets/copyright.html' %}

   {# END row #}
 </div>
  </div>
 {# END row #}
 </div>
</div>
{% endblock %}
