{% extends 'base.html' %}

{% block body %}
<div class="container">
 {% include 'snippets/navbar.html' %}
 {# START row #}
 <div class="row">
  <div class="col-md-8">
   <img src="{{ url_for('static', filename='img/gunnison-river-bridge.png') }}" class="pull-right" style="width: 300px;height:auto">
 
   <h1>Introduction to Library Systems</h1>
   <p class="lead">
    A collection of resources, presentations, and
    educational assessments on a range of topics related to library
    systems and technology as collected, created and curated by 
    Jeremy Nelson. 
   </p>
   <p class="lead">
    This collection of online tutorials and references provide opportunities for individuals to 
    demostrate their compentency and earn their open badges on most of these topics. Many of these
    badges are free to take and earn your badge, some badges have a minimial charge.  
   </p>
 </div>
  {% include 'snippets/right-nav.html' %}
 {# END row #}
 </div>
 {% include 'snippets/copyright.html' %}
  </div>
 {# END row #}
 </div>
</div>
{% endblock %}
