{% extends "textbook-base.html" %}


{% block page-title %}Chapter {{ chapter.pk }} {{ chapter.title }} {% endblock %}

{% block chapter-breadcrumb %}
<li><a href="#{{ chapter.pk }}">Chapter {{ chapter.pk }} -- {{ chapter.title }}</a> <span class="divider">&raquo;</span></li>
<li><span data-bind="value: currentPage">PAGE HOLDER</span></li>
{% endblock %}

{% block hero-unit %}
{% comment %}
<div class="span7 well">
 <h2>Introduction to Library Systems</h2>
 <h1>{{ chapter.title }}</h1>
</div>
{% endcomment %}

{% endblock %}

{% block first-row %}
<div class="row-fluid">
 <div class="span9 well well-small">
  <h2>Introduction to Library Systems</h2>
  <h1>{{ chapter.title }}</h1>
 </div>
</div>
<div class="row-fluid">
 <div class="span9 well well-small" data-bind="value: pageContent">

 </div>
</div>
<div class="row-fluid">
 <div class="span4 offset4">
  <div class="btn-group">
   <a href="#" class="btn" data-bind="click: previousPage">&laquo; Previous</a>
   <a href="#" class="btn" data-bind="click: nextPage">Next &raquo;</a>
  </div>
 </div>
</div>
{% endblock %}

{% block more-js %}
<script src="{{ STATIC_URL }}js/textbook.js"></script>
<script>
 ko.applyBindings(new TextbookPageViewModel());
</script>
{% endblock %}

