{% extends 'fluid.html' %}
{% load i18n %}

{% block top-menu-bar %}
{% endblock %}

{% block sidebar-nav %}
<div class="span2">
 <div class="row">
 {% include 'snippets/left-navigation.html' %}
 </div>
 <div class="row">
  <br/>
  <div class="span2" style="background-color: #FFF;padding:.5em">
   <h3>Chapters</h3>
   {% for chapter in chapters %}
    <a class="btn btn-mini" href="/textbook/chapter/{{ chapter.pk }}">{{ forloop.counter }}. {{ chapter.title }}</a>
     <ul>
     {% for page in chapter.pages %}
       {% if page.title %}
       <li><a href="#" onclick="GoToPage('{{page.pk }}')">{{ page.title }}</a></li>
       {% endif %}
     {% endfor %}
     </ul>
    
   {% endfor %}
  </div>
 </div>
</div>
{% endblock %}

{% block more-breadcrumb-links %}
<li><a href="{% url textbook.views.home %}">Textbook</a> <span class="divider">&raquo;</span></li>
{% block chapter-breadcrumb %}
{% endblock %}
{% endblock %}

{% block hero-unit %}
<div class="span7 hero-unit">
 <h2>Introduction to Library Systems</h2>
 <h1>Textbook</h1>
</div>
{% endblock %}

{% block first-row %}
<div class="row">
</div>
{% endblock %}

{% block dialogs %}
{% endblock %}
