{% extends 'fluid.html' %}
{% load i18n %}

{% block top-menu-bar %}
{% endblock %}

{% block sidebar-nav %}
<div class="span2">
 <div class="row">
 {% include 'snippets/left-navigation.html' %}
 </div>
 <div class="row">
  <br/>
  <div class="span2" style="background-color: #FFF;padding:.5em">
  <h3>Chapters</h3>
  <div class="accordion" id="chapter-accordion">
  {% for chapter in chapters %}
   <div class="accordion-group">
    <div class="accordion-heading">
     <a href="#{{ chapter.pk }}-pane" class="accordion-toggle"
	data-parent='chapter-accordion' data-toggle='collapse'>
      {{ forloop.counter }}. {{ chapter.title }}
     </a>
    </div>
    <div class="accordion-body collapse" id="{{ chapter.pk }}-pane">
      <div class="accordion-inner">
       <ul> 
      {% for page in chapter.pages %}
        <li>
         <a href="#" onclick="GoToPage('{{page.pk }}')">
          {% if page.title %}
            {{ page.title }}
          {% else %}
           {{ chapter.title }}
          {% endif %}
         </a>
      {% endfor %}
       </ul>
      </div>    
    </div> 
   </div>
  {% endfor %}
  </div>
  </div>
 </div>
</div>
{% endblock %}

{% block more-breadcrumb-links %}
<li><a href="{% url textbook.views.home %}">Textbook</a> <span class="divider">&raquo;</span></li>
{% block chapter-breadcrumb %}
{% endblock %}
{% endblock %}

{% block hero-unit %}
<div class="span7 hero-unit">
 <h2>Introduction to Library Systems</h2>
 <h1>Textbook</h1>
</div>
{% endblock %}

{% block first-row %}
<div class="row">
</div>
{% endblock %}
